body {
    background-color: #0e0e0e;
    color: #3cff00; /* Neon green color */
    font-family: 'Futuristic Font', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
}

.container {
    text-align: center;
    box-shadow: 0px 0px 10px 3px #3cff00; /* Box shadow for container */
    padding: 20px;
    border-radius: 10px;
    width: auto; /* Adjust width as needed */
}

#dateDisplay {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#taskInput {
    width: 70%; /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #3cff00;
}

#addTaskButton, #downloadButton {
    background-color: #3cff00;
    border: 1px solid #ffffff;
    color: #000000;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#addTaskButton:hover, #downloadButton:hover {
    background-color: #2fb200;
}

.task {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    box-shadow: 0px 0px 5px 2px #3cff00;
}

.deleteTask {
    color: #ff0000;
    cursor: pointer;
    margin-left: 10px;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    body {
        padding: 10px; /* Add padding for smaller screens */
        height: auto; /* Adjust height for mobile scrolling */
        flex-direction: column; /* Stack elements vertically */
    }

    .container {
        width: 100%; /* Full width on small screens */
        box-shadow: none; /* Optional: remove box shadow on small screens */
    }

    #taskInput {
        width: 90%; /* More width for task input on small screens */
    }

    .task {
        font-size: 0.9em; /* Adjust font size for tasks */
    }
}


